body {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 250px;
    margin-left: 250px;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

h1 {
    font-family: "basic-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 5em}
h2 {
    font-family: "basic-sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center}
p {
    text-align: left}

.container {
    display: flex;
    align-items: center;
}

.image-container {
    display: flex;
  }

.image-container img {
    width: 50%;
    margin-right: 10px;
  }
