* {
    box-sizing: border-box;
}

body {
    margin: 0 auto 0 auto;
    font-family: "lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/* GENERAL */
h1 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 5em;
}
h2 {
    text-align: center;
    font-weight: 700;
    font-size: 3em;
}
h3 {
    text-align: center;
    font-weight: 700;
    font-size: 2em;    
}
p {
    text-align: left;
}

/* NAVIGATION */
.hamburger, .close {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
}
.hamburger {
  background: #FFFFFF80;
}
.close {
  background: black;
}
.hamburger img, .close img {
  width: 100%;
  height: 100%;
}
.navbar {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  list-style: none;
  background: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}
.navbar:target {
  transform: translateY(0);
}
li a {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}
li a:hover, li a:focus {
  /* show border bottom */
  border-bottom: 1px solid white;
}

/* HEADER IMAGE + TITLE */
.header {
    margin: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 800px;
}
.header img{
    width: 100%;
}
.header h1 {
    font-size: 70px;
    position: relative;
    top: 60%;
    margin-left: 45%;
    text-align: left;
    padding-left: 75px;
    padding-right: 20px;
    color: black;
    background: linear-gradient(to left, white 90%, transparent);
    margin-bottom:0;
}
.header h2 {
    font-size:35px;
    position: relative;
    top:60%;
    margin-top:0;
    margin-left: 45%;
    text-align: left;
    padding-left: 75px;
    padding-right: 60px;
    padding-bottom: 20px;
    color: black;
    background: linear-gradient(to left, white 90%, transparent);
}

/* INTRODUCTION */
.intro-container {
    padding: 10px 0 40px 0; 
    background-color: black;
    color: white;
    line-height: 1.8;
    font-size: 17px; 
}
.intro-container-text {
    margin: 0 13em 0 13em;
}
figure.smallphoto {
    margin: 10 20 0 20;
    width: 40%;
    float: left;
}
figure.smallphoto img {
    width:100%;
}


.container {
    margin: 50px auto 100px auto;
    text-align: center;
}
.container p {
    margin: 0 400px 0 400px;
    line-height: 1.8;
    text-align: left;
    font-size: 18px;
}
.container img {
    margin: 0 50px;
    padding: 20px auto 20px auto;
}
.container pc {
    font-size:18px;
    line-height:1.8;
    margin:0px;
    text-align:left;
    float:left;
}

.columncontainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 100px
}

.newcolumncontainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 200px
}

.column {
    width: 48%; 
    margin: 0
}

.narrow-column {
    width: 38%; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
}

.wide-column {
    width: 56%; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
}

.image-container {
    display: flex;
    margin: 30px;
  }

.image-container img {
    width: 45%;
    margin-right: 10px;
  }

.gallery {
    display:flex;
    margin:10px;
}

figure.threeimage img {
    width:100%;
}

figure.threeimage figcaption {
    text-align:center;
    padding-top:10px;
}

.box {
    background-color: #06ba38;
    padding:20;
    color: white;
    margin: 20px 200px;
    overflow: auto;
}

.boxdata {
    border-width: thick;
    border-style: dashed;
    border-color: #E65E55;
    padding:10 0;
    color: black;
    margin: 20px 200px;
    overflow:auto;
}

.boxdata img{
    margin-left:25;
    padding: 25 25 25 0;
    float:left;
}
.boxdata p {
    padding: 0 25px;
    font-size: 20px;
    text-align: left;
    color:black;
}
.box boxcaption {
    vertical-align:middle;
}
.box p {
    padding: 0 25px;
    font-size: 25px;
    text-align: center;
    color:black;
}

.box pc {
    padding: 0 10px;
    font-size: 25px;
    text-align: center;
    color:black;
}

.imagerightcap {
    display: flex;
    align-items: center;
    margin-bottom:75px;
}


.imagerightcap img {
    width:70%;
}

.imagerightcap figcaption{
    margin-left:20px;
    flex:1; 
    color:black;
    text-align: left;
    font-size: 20px;
    line-height: 28px;
}

button {
    width: 25%;
    background-color: #619CFF;
    color: white; 
    padding: 25px; 
    font-size: 25px; 
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3; 
}

.material {
    padding: 0 25px;
    font-size: 25px;
    text-align: center;
    color:black;
    border: none;
}
