body {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 250px;
    margin-left: 250px;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

h1 {
    font-family: "basic-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 5em}
h2 {
    font-family: "basic-sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center}
p {
    text-align: left}

.container {
    display: flex;
    align-items: center;
}

.image-container {
    display: flex;
  }

.image-container img {
    width: 50%;
    margin-right: 10px;
  }

.container img {
    margin-right: 25px;
}

.lonecontainer {
    width:100%;
}

.box {
    background-color: darkred;
    padding:25px;
    color: white;
}

.box img{
    margin-left:0;
    padding: 0 25 25 0;
    float:left;
}

.box boxcaption {
    vertical-align:middle;
}

figure.photogrid {
    margin-left: 0;
    padding: 25 0 25 0;
    width:33%;
}

.fullwidthcontainer {
    width:90%;
}


.image {
    flex:1;
    display: inline-block; /* Display images in the same row */
    margin: 5px; 
}   

