* {
    box-sizing: border-box;
}

body {
    margin: 0 auto 0 auto;
    font-family: "lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* GENERAL */
h1 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 5em;
}
h2 {
    text-align: center;
    font-weight: 700;
    font-size: 3em;
}
h3 {
    text-align: center;
    font-weight: 700;
    font-size: 2em;    
}
p {
    text-align: left;
}

/* NAVIGATION */
a
{
text-decoration: none;
color: white;

transition: color 0.3s ease;
}

a:hover
{
color: green;
}

/*
* Black bar with logo
*/

.essential-nav {
    background-color: black;
    height: 55px;
    background-image: url(https://brand.northeastern.edu/wp-content/uploads/2022/06/ac-grid-2-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 37px;
}

#menuToggle {
    display: block;
    position: relative;
    top: 18px;
    

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span {
    left: 20px;
    display: block;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;

    background: white;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 20%;
}

/*
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu {
    left: 20px;
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: black;
    opacity: 0.9;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: solid 1px black;
}

#menu li:hover {
    color: green;
    border-bottom: solid 1px green;
}

#menu a {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    font-family: "Oswald","Helvetica",sans-serif;
    letter-spacing: -1px;
}

#menu span {
    font-size: 13px;
    display: inline;
    font-family: "Oswald","Helvetica",sans-serif;
    padding: 1px 3px;
    color:white;
    background-color: green;
    border-radius: 0px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

.essential-nav > a:link {
    font-family: "Oswald","Impact",sans-serif;
    font-size: 2em;
    line-height: 28px;
    text-transform: uppercase;
}

/* HEADER IMAGE + TITLE */
.header {
    margin: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 800px;
    overflow: auto;
}

.header img{
    width: 100%;
}

.header h1 {
    font-size: 70px;
    position: relative;
    top: 60%;
    margin-left: 45%;
    text-align: left;
    padding-left: 75px;
    padding-right: 20px;
    color: black;
    background: linear-gradient(to left, white 90%, transparent);
    margin-bottom:0;
}

.header h2 {
    font-size:35px;
    position: relative;
    top:60%;
    margin-top:0;
    margin-left: 45%;
    text-align: left;
    padding-left: 75px;
    padding-right: 60px;
    padding-bottom: 20px;
    color: black;
    background: linear-gradient(to left, white 90%, transparent);
}

/* INTRODUCTION */
.intro-container {
    padding: 10px 0 40px 0; 
    background-color: black;
    color: white;
    line-height: 1.5;
    font-size: 17px;
    display: grid;
}

.intro-container-text {
    margin: 0 13em 0 13em;
}

figure.smallphoto {
    margin: 10 20 0 20;
    width: 30%;
    float: left;
}

figure.smallphoto img {
    width: 100%;
}

.container {
    margin: 50px auto 100px auto;
    text-align: center;
}
.container p {
    margin: 0 400px 0 400px;
    line-height: 1.5;
    text-align: left;
    font-size: 18px;
}
.container img {
    margin: 0 50px;
    padding: 20px auto 20px auto;
}
.container pc {
    font-size:18px;
    line-height:1.5;
    margin:0px;
    text-align:left;
    float:left;
}

.columncontainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 100px
}

.newcolumncontainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto 0 auto
}

.column {
    width: 48%; 
    margin: 0
}

.narrow-column {
    width: 38%; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
}

.wide-column {
    width: 56%; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
}

.image-container {
    display: flex;
    margin: 30px;
  }

.image-container img {
    width: 45%;
    margin-right: 10px;
  }

.gallery {
    display:flex;
    margin:10px;
}

figure.threeimage img {
    width:100%;
}

figure.threeimage figcaption {
    text-align:center;
    padding-top:10px;
}

.box {
    background-color: #2A6041;
    padding:20;
    color: white;
    margin: 20px 200px;
    overflow: auto;
}

.boxdata {
    border-width: thick;
    border-style: solid;
    border-color: #2a6041;
    padding:10 0;
    color: black;
    margin: 20px 200px;
    overflow:auto;
}

.boxdata img{
    margin-left:25;
    padding: 25 25 25 0;
    float:left;
}
.boxdata p {
    padding: 0 25px;
    font-size: 16px;
    text-align: left;
    color:black;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.box boxcaption {
    vertical-align:middle;
}
.box p {
    padding: 0 25px;
    font-size: 25px;
    text-align: center;
    color:white;
}

.box pc {
    padding: 0 10px;
    font-size: 25px;
    text-align: center;
    color:black;
}

.imagerightcap {
    display: flex;
    align-items: center;
    margin-bottom:75px;
}


.imagerightcap img {
    width:70%;
}

.imagerightcap figcaption{
    margin-left:20px;
    flex:1; 
    color:black;
    text-align: left;
    font-size: 20px;
    line-height: 28px;
}

button {
    width: 25%;
    font-family: "lato", sans-serif; 
    background-color: #D4E09B;
    color: BLACK; 
    padding: 25px; 
    font-size: 25px; 
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #2A6041;
    color: white;
}

.material {
    padding: 0 25px;
    font-size: 25px;
    text-align: center;
    color:black;
    border: none;
}

/* footer and timeline */

.next {
    background-color: #D4E09B;
    padding:20;
    font-size: 25px;
    color: #000000;
    display: inline-block;
    margin: 20px auto;
    overflow: auto;
}

.black-footer {
    background-color: black;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-top: auto;
    text-align: center; 
}

#timelinecontainer {
    width: 780px;
    height: 172px;
    margin: 0px auto;
    background-color: #000000;
    border: 1px solid #000000;
    position: relative;
}

.timeline-button {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    position: absolute;
}

#button1 {
    bottom: 0;
    right: 0;
}

#button2 {
    bottom: 0;
    left: 28%;
    transform: translateX(-50%);
}

#button3 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#button4 {
    bottom: 0;
    left: 72%;
    transform: translateX(-50%);
}

#button5 {
    bottom: 0;
    left: 0;
}
