body{

   background-color: #e5e5e5;
   background-color: white;
   color: #000000;

   /*margin: 40px auto 40px auto;*/
   max-width: 1200px;
   min-width: 375px;
   padding: 0 25px 0 25px;
   font-variant-numeric: oldstyle-nums;


   hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;

   hyphenate-limit-lines: 2;
   -webkit-hyphenate-limit-line: 2;

   hyphenate-limit-chars: 7 3 3;
   -webkit-hyphenate-limit-before: 3;
   -webkit-hyphenate-limit-after: 3;

   margin-top: 26px;
}


h1{
   font-family: ff-real-headline-pro-2, sans-serif;
   font-weight: 300;
   font-style: normal;
   font-size: 70px;
   line-height: 27px;
}

img{
  max-width: 100%;
  max-height: 100%;
  padding-top: 2em;
}

h2{
   font-family: minion-3, serif;
   font-weight: 600;
   font-style: normal;
   font-size: 20px;
   margin-top: 47px;
   margin-bottom: -15px;

}

p{
   font-family: minion-3, serif;
   font-weight: 400;
   font-style: italic;
   font-size: 35px;
   line-height: 50px;
   margin-bottom: -30px;
}

p+p{
   text-indent: 2em;
}

i {
  font-style: italic;
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size:  34px;
    line-height: 45px;
  }
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

